@import url(../assets/webfonts/scriber-reg.css);
@import url(../assets/webfonts/scriber-bold.css);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
.hideable {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
/* line 16, ../sass/screen.scss */
.hideable.hidden {
  opacity: 0;
}

/* line 22, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #000000;
  color: #FFFFFF;
}

/* line 29, ../sass/screen.scss */
#app {
  width: 100%;
  height: 100%;
}
/* line 32, ../sass/screen.scss */
#app > article {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 36, ../sass/screen.scss */
#app > article#attractor {
  z-index: 5;
}
/* line 39, ../sass/screen.scss */
#app > article#browser {
  z-index: 2;
}

/* line 46, ../sass/screen.scss */
#attractor > header {
  font-family: "Scriber Bold";
  color: #FFFFFF;
  font-size: 5em;
  height: 1em;
  line-height: 1em;
  position: absolute;
  margin-top: -.5em;
  width: 100%;
  top: 50%;
  text-align: center;
}

/* line 61, ../sass/screen.scss */
#browser > header {
  position: absolute;
  width: 100%;
  height: 18em;
  top: 50%;
  margin-top: -9em;
  width: 100%;
  text-align: center;
  z-index: 1;
}
/* line 70, ../sass/screen.scss */
#browser > header h1 {
  font-family: "Scriber Bold";
  font-size: 3em;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 77, ../sass/screen.scss */
#browser > header a {
  display: block;
  font-family: "Scriber Regular";
  letter-spacing: 1px;
  font-size: 2em;
  margin-bottom: .9em;
  color: #AAAAAA;
}
/* line 85, ../sass/screen.scss */
#browser > header img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 10em;
  height: 10em;
}
/* line 92, ../sass/screen.scss */
#browser > section {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* line 100, ../sass/screen.scss */
#browser > section ul {
  height: 100%;
  font-size: 0;
}
/* line 103, ../sass/screen.scss */
#browser > section ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  min-width: auto;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}
/* line 110, ../sass/screen.scss */
#browser > section ul li img,
#browser > section ul li video {
  height: 100%;
  max-height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
