.DS_Store
.sass-cache
Interface Template/config.rb
webfonts
build-tmp
*.mp4

javascript/public/data/tom-lynch/tag.png

javascript/public/data/tom-lynch/6.jpg

javascript/public/data/tom-lynch/blurb.txt

javascript/public/data/tom-lynch/5.jpg

javascript/public/data/tom-lynch/4.jpg

javascript/public/data/tom-lynch/3.jpg

javascript/public/data/tom-lynch/2.jpg

javascript/public/data/tom-lynch/1.jpg

javascript/public/data/tom-lynch/0.jpg

data
